/* Text Styles */
hr { color: #000000 }
body, table, tr, th /* Normal */
{
 font-size: 100%;
 font-family: Calibri,Vectora,'Droid Sans','Open Sans',Frutiger,sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
table, tr, th
{
 font-size: 100%;
}
span.f_CodeExample /* Code Example */
{
 font-size: 0.80rem;
 font-family: 'Courier New',Courier,monospace;
}
span.f_Comment /* Comment */
{
}
span.f_CourierFixed /* Courier Fixed */
{
 font-size: 0.90rem;
 font-family: 'Courier New',Courier,monospace;
}
span.f_Heading1NewStandard /* Heading 1 New Standard */
{
 font-size: 1.40rem;
 font-weight: bold;
 color: #b3cad3;
}
span.f_Heading1 /* Heading1 */
{
 font-size: 1.40rem;
 font-weight: bold;
 color: #990917;
}
span.f_ImageCaption /* Image Caption */
{
 font-size: 0.80rem;
 font-weight: bold;
}
span.f_KidzBoldItalics /* KidzBoldItalics */
{
 font-size: 1.10rem;
 font-style: italic;
 font-weight: bold;
}
span.f_KidzHeader1 /* KidzHeader1 */
{
 font-size: 2.00rem;
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 font-weight: bold;
 color: #990917;
}
span.f_KidzHeader1New /* KidzHeader1 New */
{
 font-size: 2.00rem;
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 font-weight: bold;
 color: #365c6b;
}
span.f_KidzHeader12 /* KidzHeader12 */
{
 font-size: 1.60rem;
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 color: #44546a;
}
span.f_KidzHeader12New /* KidzHeader12 New */
{
 font-size: 1.60rem;
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 color: #44546a;
}
span.f_KidzHeaderCaps /* KidzHeaderCaps */
{
 font-size: 1.10rem;
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 font-weight: bold;
 color: #990917;
 text-transform: uppercase;
}
span.f_KidzHeaderIndent /* KidzHeaderIndent */
{
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 font-weight: bold;
 color: #990917;
}
span.f_KidzImageCaptionIndent2 /* KidzImageCaptionIndent2 */
{
 font-size: 0.90rem;
 font-weight: bold;
}
span.f_KidzNormal /* KidzNormal */
{
 font-size: 1.10rem;
}
span.f_KidzNormalIndent /* KidzNormalIndent */
{
 font-size: 1.10rem;
}
span.f_KidzNormalIndent2 /* KidzNormalIndent2 */
{
 font-size: 1.10rem;
}
span.f_KidzNormalIndent3 /* KidzNormalIndent3 */
{
 font-size: 1.10rem;
}
span.f_KidzNormalIndent4 /* KidzNormalIndent4 */
{
 font-size: 1.10rem;
}
span.f_KidzNormalIndentSingleSpace /* KidzNormalIndentSingleSpace */
{
 font-size: 1.10rem;
}
span.f_KidzSplashCentre /* KidzSplashCentre */
{
 font-size: 1.40rem;
 color: #993300;
}
span.f_KidzSplashIt /* KidzSplashIt */
{
 font-size: 1.60rem;
 color: #990917;
}
span.f_NormalNewStandard /* Normal New Standard */
{
}
span.f_NoteBoldItalic /* NoteBoldItalic */
{
 font-size: 1.10rem;
 font-style: italic;
 font-weight: bold;
}
span.f_Notes /* Notes */
{
}
/* Paragraph styles */
p, p.p_Normal, div.p_Normal, li.p_Normal /* Normal */
{
 text-align: left;
 text-indent: 0;
 padding: 0 0 0 0;
 margin: 0 0 0 0;
}
.p_CodeExample /* Code Example */
{
 font-size: 0.80rem;
 line-height: 1.0;
 white-space: nowrap;
 page-break-inside: avoid;
}
.p_Comment /* Comment */
{
 font-size: 1.00rem;
}
.p_Heading1NewStandard /* Heading 1 New Standard */
{
 font-size: 1.40rem;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0;
 padding: 0 0 0 0;
 margin: 0 0 0 0;
}
.p_ImageCaption /* Image Caption */
{
 font-size: 0.80rem;
}
.p_KidzBoldItalics /* KidzBoldItalics */
{
 font-size: 1.10rem;
 line-height: 1.38;
 margin: 0 2.3750rem 0 2.3750rem;
}
.p_KidzHeader1 /* KidzHeader1 */
{
 font-size: 2.00rem;
 margin: 0 2.3750rem 0 2.3750rem;
}
.p_KidzHeader1New /* KidzHeader1 New */
{
 font-size: 2.00rem;
 margin: 0 2.3750rem 0 2.3750rem;
}
.p_KidzHeader12 /* KidzHeader12 */
{
 font-size: 1.60rem;
 margin: 0 2.3750rem 0 2.3750rem;
}
.p_KidzHeader12New /* KidzHeader12 New */
{
 font-size: 1.60rem;
 margin: 0 2.3750rem 0 2.3750rem;
}
.p_KidzHeaderCaps /* KidzHeaderCaps */
{
 font-size: 1.10rem;
 margin: 0 2.3750rem 0 2.3750rem;
}
.p_KidzHeaderIndent /* KidzHeaderIndent */
{
 font-size: 1.00rem;
 margin: 0 2.3750rem 0 2.3750rem;
}
.p_KidzImageCaptionIndent2 /* KidzImageCaptionIndent2 */
{
 font-size: 0.90rem;
 margin: 0 0 0 2.3750rem;
}
.p_KidzNormal /* KidzNormal */
{
 font-size: 1.10rem;
 line-height: 1.38;
}
.p_KidzNormalIndent /* KidzNormalIndent */
{
 font-size: 1.10rem;
 line-height: 1.38;
 margin: 0 2.3750rem 0 2.3750rem;
}
.p_KidzNormalIndent2 /* KidzNormalIndent2 */
{
 font-size: 1.10rem;
 line-height: 1.38;
 margin: 0 2.3750rem 0 4.8125rem;
}
.p_KidzNormalIndent3 /* KidzNormalIndent3 */
{
 font-size: 1.10rem;
 line-height: 1.38;
 margin: 0 2.3750rem 0 7.1875rem;
}
.p_KidzNormalIndent4 /* KidzNormalIndent4 */
{
 font-size: 1.10rem;
 line-height: 1.38;
 margin: 0 2.3750rem 0 9.6250rem;
}
.p_KidzNormalIndentSingleSpace /* KidzNormalIndentSingleSpace */
{
 font-size: 1.10rem;
 line-height: 1.38;
 margin: 1.1875rem 0 0 2.3750rem;
}
.p_KidzSplashCentre /* KidzSplashCentre */
{
 font-size: 1.40rem;
 text-align: center;
 line-height: 1.38;
}
.p_KidzSplashIt /* KidzSplashIt */
{
 font-size: 1.60rem;
 line-height: 1.38;
}
.p_NormalNewStandard /* Normal New Standard */
{
 font-size: 1.00rem;
}
.p_NoteBoldItalic /* NoteBoldItalic */
{
 font-size: 1.10rem;
}
.p_Notes /* Notes */
{
 font-size: 1.00rem;
}
/* Table styles */
table.KidzTable {
 border-color: #E0E0E0 #808080 #808080 #E0E0E0;
border-style: solid;
border-width: thin;
 border-spacing: 0.1875rem;
}
table.KidzTable tr.KidzTable {
 text-align: left;
}
table.KidzTable th.KidzTable, table.KidzTable td.KidzTable {
 vertical-align: top;
 padding: 0.3125rem;
 border-color: #808080 #E0E0E0 #E0E0E0 #808080;
border-style: solid; border-width: thin;
}
table.KidzTable th.KidzTable {
 background-color:#999999;
}
div.hmrotate90  { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; }
div.hmrotate270 { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; transform: rotate(180deg); }

a.imagetogglelink {
  position: relative;
  display: inline-block;
}
svg.image-toggle-magnifier { /* Magnifier icon for image toggles */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40pt;
  height: 40pt;
  max-width: 80%;
  max-height: 80%;
  fill: #FFFFFF;
  stroke: #808080;
  stroke-width: 0.5pt;
  opacity: 0.3;
  transition: opacity 0.3s;
}
img.image-toggle:hover + svg.image-toggle-magnifier, svg.image-toggle-magnifier:hover {
  opacity: 1;
}



#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
/* CSS for responsive image maps */

.hmImageMap a.hmHotspotRect { display:block; position:absolute; border: 1px solid transparent; background:#000; opacity:0.01 }
.hmImageMap a.hmHotspotEllipse { display:block; position:absolute; border-radius:50%; border: 1px solid transparent; background:#000; opacity:0.01 }
.hmImageMap:hover a.hmHotspotRect {opacity:0.3 }
.hmImageMap:hover a.hmHotspotEllipse { opacity:0.3 }
a.hmHotspotRect:hover { border:1px solid #000; background:#FFF; opacity:0.3 }
a.hmHotspotEllipse:hover { border:1px solid #000; background:#FFF; opacity:0.3 }
